/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {
	--global-font-color: #ffffff;
	--global-background-color: #1c1c2a;
	--global-font-family: "Poppins", sans-serif;
	--global-font-size: 1rem;
	--global-font-line-height: 1.2;
	--heading-font-family: "Russo One", sans-serif;
	--content-width: 1200px;
	--element-height: 3rem;
	--dropdown-symbol-width: 0.7em;

	/* Custom editor colors */
	--color-primary: #00d7c8;
	--color-primary-light: #73f3ea;
	--color-primary-dark: #00a79b;
	--color-secondary: #1c1c2a;
	--color-secondary-light: #3e3e55;
	--color-secondary-dark: #14141d;
	--color-red: #c0392b;
	--color-green: #27ae60;
	--color-blue: #2980b9;
	--color-yellow: #f1c40f;
	--color-black: #1c2833;
	--color-white: #fff;
	--color-light: #f8f8f8;
	--color-gray: #9e9e9e;
	--color-gray-light: #e9e9e9;
	--color-gray-dark: #545454;

	/* Link colors */
	--color-link: var(--color-primary);
	--color-link-hover: var(--color-primary-dark);
	--color-link-visited: var(--color-primary-dark);

	/* Quote colors */
	--color-quote-border: var(--color-black);
	--color-quote-citation: #7d7d8f;

	/* Custom editor font sizes */
	--fs-small: clamp(0.875rem, 1.825vw, 1rem);
	--fs-regular: clamp(1rem, 2.1vw, 1.2rem);
	--fs-large: clamp(1.6rem, 3.35vw, 2.25rem);
	--fs-larger: clamp(2rem, 4.25vw, 3.25rem);

	/* Font Sizes */
	--fs1: var(--fs-larger);
	--fs2: clamp(1.8rem, 3.75vw, 3rem);
	--fs3: var(--fs-large);
	--fs4: clamp(1.4rem, 2.925vw, 1.875rem);
	--fs5: clamp(1.2rem, 2.5vw, 1.5rem);
	--fs6: var(--fs-regular);
	--fs7: var(--fs-small);
	--fs8: clamp(0.75rem, 1.6vw, 0.9rem);

	/*letter spacing*/
	--letter-spacing-0: none;
	--letter-spacing-1: 1px;
	--letter-spacing-2: 2px;
	--letter-spacing-3: 3px;
	--letter-spacing-4: 4px;
	--letter-spacing-5: 5px;

	/*font-weight*/
	--fw-thin: 200;
	--fw-light: 300;
	--fw-regular: 400;
	--fw-medium: 500;
	--fw-bold: 700;

	/* Borders. */
	--border-size: 1px;
	--rounded-radius: 4px;
	--pill-radius: 25px;
	--circle-radius: 50%;

	/* Transitions. */
	--transition: all 0.5s ease-in-out;

	/* Spacing. */
	--spacer: 1rem;
	--spacer-0: 0;
	--spacer-1: calc(var(--spacer) * 0.25);
	--spacer-2: calc(var(--spacer) * 0.5);
	--spacer-3: var(--spacer);
	--spacer-4: calc(var(--spacer) * 1.5);
	--spacer-5: calc(var(--spacer) * 2);
	--spacer-6: calc(var(--spacer) * 3);

	/* Font icons */
	--font-awesome-free: "Font Awesome 5 Free";
	--font-awesome-brand: "Font Awesome 5 Brand";
	--font-icon: var(--font-awesome-free);

	/* Icons */
	--icon-play: "\f04b";
	--icon-pause: "\f04c";
	--icon-mute: "\f6a9";
	--icon-volume-down: "\f027";
	--icon-volume-up: "\f028";
	--icon-forward: "\f04e";
	--icon-backward: "\f04a";
	--icon-home: "\ea12";
	--icon-user: "\ea05";
	--icon-search: "\ea09";
	--icon-search-alt: "\ea0d";
	--icon-gear: "\ea03";
	--icon-link: "\ea04";
	--icon-dashboard: "\ea0b";
	--icon-award: "\ea0c";
	--icon-bell: "\ea0e";
	--icon-bookmark: "\ea0f";
	--icon-calendar: "\ea10";
	--icon-envelope: "\ea11";
	--icon-hand-coin: "\ea11";
	--icon-eye: "\ea14";
	--icon-star: "\ea15";
	--icon-team: "\ea16";
	--icon-setting: "\ea17";
	--icon-edit: "\ea18";
	--icon-send: "\ea43";
	--icon-send-alt: "\ea19";
	--icon-support: "\ea1a";
	--icon-download: "\ea1b";
	--icon-upload: "\ea1c";
	--icon-vector: "\ea1d";
	--icon-trash: "\ea1e";
	--icon-wallet: "\ea1f";
	--icon-share: "\ea20";
	--icon-chart: "\ea21";
	--icon-camera: "\ea22";
	--icon-group-add: "\ea23";
	--icon-people-outline: "\ea24";
	--icon-person-outline: "\ea25";
	--icon-person-add: "\ea26";
	--icon-priority-high: "\ea28";
	--icon-crop: "\ea29";
	--icon-radio-unchecked: "\f111";
	--icon-radio-checked: "\f192";
	--icon-checkbox-unchecked: "\f0c8";
	--icon-checkbox-null: "\f146";
	--icon-checkbox-checked: "\f14a";
	--icon-zoomout: "\ea2f";
	--icon-local-atm: "\ea30";
	--icon-headset: "\ea31";
	--icon-check: "\ea32";
	--icon-close: "\f00d";
	--icon-arrow-up: "\ea34";
	--icon-arrow-down: "\ea3a";
	--icon-arrow-left: "\ea3b";
	--icon-arrow-right: "\ea35";
	--icon-chevron-up: "\ea38";
	--icon-chevron-down: "\ea36";
	--icon-chevron-left: "\ea39";
	--icon-chevron-right: "\ea37";
	--icon-star-circle: "\ea3c";
	--icon-shopping-cart: "\ea3d";
	--icon-schedule: "\ea3e";
	--icon-power: "\ea3f";
	--icon-credit-card: "\ea40";
	--icon-list: "\ea41";
	--icon-launch: "\ea42";
	--icon-priority-circle: "\ea44";
	--icon-check-circle: "\ea45";
	--icon-thumb-up: "\ea4a";
	--icon-thumb-down: "\ea4b";
	--icon-add-circle: "\ea4f";
	--icon-add-circle-solid: "\ea50";
	--icon-add: "\f067";
	--icon-minus: "\f068";
	--icon-remove-circle: "\ea4c";
	--icon-remove-circle-solid: "\ea4d";
	--icon-plus-circle: "\f055";
	--icon-minus-circle: "\f056";
}
