@import "_custom-properties.css";

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/

/* Internal containers. */
.fluid-container,
.inner-container {
	margin-right: auto;
	margin-left: auto;
	padding-left: var(--spacer);
	padding-right: var(--spacer);
	width: 100%;
}

@media (--md) {

	.fluid-container {
		max-width: calc(100% - 4rem);
	}

	.inner-container {
		max-width: var(--content-width);
	}
}

/* Grid. */
.flex-grid {
	margin: 0 auto;
	padding-left: var(--spacer-2);
	padding-right: var(--spacer-2);
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
}

.col {
	padding: 0 0.5rem;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

@media only screen {

	.col {
		float: left;
		width: 100%;
	}
}

/* Grid columns. */
.full {
	width: 100%;
}

.half {
	width: 50%;
}

.one-third {
	width: 33.33%;
}

.two-third {
	width: 66.66%;
}

.one-fourth {
	width: 25%;
}

.two-fourth {
	width: 50%;
}

.three-fourth {
	width: 75%;
}

.one-fifth {
	width: 20%;
}

.two-fifth {
	width: 40%;
}

.three-fifth {
	width: 60%;
}

.four-fifth {
	width: 80%;
}

.seven-twelfths {
	width: 58.33%;
}

.five-twelfths {
	width: 41.66%;
}

.nine-tenth {
	width: 90%;
}

/* Grid columns for each breakpoint. */
@each $size in sm, md, lg, xl {
@media (--$(size)) {
	.$(size)-full {
		width: 100%;
	}
	
	.$(size)-half {
		width: 50%;
	}
	
	.$(size)-one-third {
		width: 33.33%;
	}
	
	.$(size)-two-third {
		width: 66.66%;
	}
	
	.$(size)-one-fourth {
		width: 25%;
	}
	
	.$(size)-two-fourth {
		width: 50%;
	}
	
	.$(size)-three-fourth {
		width: 75%;
	}
	
	.$(size)-one-fifth {
		width: 20%;
	}
	
	.$(size)-two-fifth {
		width: 40%;
	}
	
	.$(size)-three-fifth {
		width: 60%;
	}
	
	.$(size)-four-fifth {
		width: 80%;
	}
	
	.$(size)-seven-twelfths {
		width: 58.33%;
	}
	
	.$(size)-five-twelfths {
		width: 41.66%;
	}
	
	.$(size)-nine-tenth {
		width: 90%;
	}
}
}
