# Ignore everything:
/*
!.vscode/
!/templates/
!/.github/
!/assets/
/assets/*
!/assets/css/
/assets/css/*
!/assets/css/src/
!/assets/js/
/assets/js/*
!/assets/js/src/
!/assets/html/
/assets/html/*
!/assets/html/src/
!/assets/images/
/assets/images/*
!/assets/images/src/
!/languages/
!gulp/
!style.css
!/*.html
!/inc/
!/template-parts/
!/config/
/config/config.local.json
!/tests/
!/optional/

!.babelrc
!CHANGELOG.md
!CONTRIBUTING.md
!.editorconfig
!.eslintignore
!.eslintrc.json
!.gitignore
!gulpfile.babel.js
!LICENSE
!package-lock.json
!package.json
!README.md
!readme.txt
!screenshot.png
!.travis.yml
!.browserslistrc
