    <footer class="site-footer my-3" id="colophon">
        <div class="site-info">
            <div class="copyright position-relative">
                <small class="mb-0">Copyright &copy; 2020 Soupee - All Right Reserved</small>
            </div>
        </div>
    </footer>
</div><!-- #page -->
<!-- Prismjs Syntax highlighter -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/show-language/prism-show-language.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
<script>
    // Highlight all matching syntax
    Prism.highlightAll();
</script>

<!-- Fontawesome font kit -->
<script src="https://kit.fontawesome.com/3c9916881b.js" crossorigin="anonymous"></script>

<!-- Soupee JS Components -->
<script src="js/global.min.js"></script>
</body>
</html>
