
/*--------------------------------------------------------------
# Cards
--------------------------------------------------------------*/

.ui-card {
	position: relative;
	display: flex;
	flex-direction: column;
	border: 1px solid var(--color-light);
	border-radius: var(--rounded-radius);
	background-color: var(--color-white);
	background-clip: padding-box;
	color: var(--global-font-color);
	overflow: hidden;
}

.is-inverted .ui-card:not(.keep-default),
.ui-card.is-inverted {
	border: 1px solid var(--color-secondary-dark);
	background-color: var(--color-secondary-dark);
	color: var(--color-white);
}

.card-body {
	flex: 1 1 auto; /* flex: <"flex-grow"> <"flex-shrink"> <"flex-basis">; */
	padding: var(--spacer);

	& > p {
		margin-top: 0;
	}
}

.card-header,
.card-footer {
	padding: 0.75rem var(--spacer);
	margin-bottom: 0;
}

.card-header {
	border-bottom: rgba(var(--color-black), 0.125);
	background-color: rgba(var(--color-black), 0.05);
}

.card-footer {
	border-top: rgba(var(--color-black), 0.125);
	background-color: rgba(var(--color-black), 0.05);
}

.card-header,
.card-body,
.card-footer {
	& > *:last-child {
		margin-bottom: 0;
	}
}

.card-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5rem 1rem;
	z-index: 10;

	&:before {
		font-family: var(--font-awesome-free);
		font-weight: 900;
		content: "\f00d";
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
	}
}

.card-alert .card-body {
	padding-right: 2.5rem;
}