@import "_mixins.css";

/*--------------------------------------------------------------
# img-container
--------------------------------------------------------------*/
.ui-img-container {
	overflow: hidden;
}

.ui-img-container {

	&.img-container-square {
		@mixin aspect-ratio-portrait 1, 1;

		&.img-landscape > .inner-content > img {
			max-width: none;
			width: auto;
			height: 100%;
		}

		&.img-portrait > .inner-content > img {
			max-width: initial;
			width: 100%;
        	height: auto;
		}
	}

	&.img-container-wide {
		@mixin aspect-ratio-landscape 4, 3;
	}

	&.img-container-softlandscape {
		@mixin aspect-ratio-landscape 16, 9;
	}

	&.img-container-landscape {
		@mixin aspect-ratio-landscape 16, 9;
	}

	&.img-container-portrait {
		@mixin aspect-ratio-portrait 3, 4;
	}

	@media (--sm-max) {

		&.sm-img-container-square {
			@mixin aspect-ratio-portrait 1, 1;

			&.img-landscape > .inner-content > img {
				max-width: initial;
				width: auto;
				height: 100%;
			}

			&.img-portrait > .inner-content > img {
				max-width: initial;
				width: 100%;
				height: auto;
			}
		}

		&.sm-img-container-wide {
			@mixin aspect-ratio-landscape 4, 3;
		}

		&.sm-img-container-softlandscape {
			@mixin aspect-ratio-landscape 16, 9;
		}

		&.sm-img-container-landscape {
			@mixin aspect-ratio-landscape 16, 9;
		}

		&.sm-img-container-portrait {
			@mixin aspect-ratio-portrait 3, 4;
		}
	}

	@media (--xs-max) {

		&.xs-img-container-square {
			@mixin aspect-ratio-portrait 1, 1;

			&.img-landscape > .inner-content > img {
				max-width: initial;
				width: auto;
				height: 100%;
			}

			&.img-portrait > .inner-content > img {
				max-width: initial;
				width: 100%;
				height: auto;
			}
		}

		&.xs-img-container-wide {
			@mixin aspect-ratio-landscape 4, 3;
		}

		&.xs-img-container-softlandscape {
			@mixin aspect-ratio-landscape 16, 9;
		}

		&.xs-img-container-landscape {
			@mixin aspect-ratio-landscape 16, 9;
		}

		&.xs-img-container-portrait {
			@mixin aspect-ratio-portrait 3, 4;
		}
	}
}

.img-rounded {
	border-radius: var(--rounded-radius);
}

.img-circle {
	border-radius: var(--circle-radius);
}
