/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/* stylelint-disable */
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
/* stylelint-enable */

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/**
 * Inherit box-sizing to make it easier to change the property for
 * components that leverage other behavior; see
 * http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
	box-sizing: inherit;
}

/* Customize Scrollbar */
@media (--md) {
	*::-webkit-scrollbar { width: 10px; height: 10px; }
	*::-webkit-scrollbar-track { background: var(--color-secondary-dark); }
	*::-webkit-scrollbar-thumb { background: var(--color-secondary); }
	*::-webkit-scrollbar-thumb:hover { background: var(--color-secondary-light); }
}

/* stylelint-disable */
body {
	color: var(--global-font-color);
	background: var(--global-bg-color);
	font-family: var(--global-font-family);
	font-size: var(--fs-regular);
	line-height: var(--global-font-line-height);

	/* Fallback for when there is no custom background color defined. */
}
/* stylelint-enable */

/* Dark mode .is-inverted */
.site .is-inverted,
body.is-inverted {
	color: var(--global-font-color-inverted);
	background: var(--global-bg-color-inverted);
}

body.is-inverted {
	
	& .site-header { 
		color: var(--color-white);
		background-color: var(--color-secondary-dark);
	}

	& .divider {
		background-color: var(--color-gray-dark);
		opacity: 0.25;
	}
}

/* stylelint-disable */
hr {
	background-color: #cccccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
/* stylelint-enable */

sup,
sub {
	line-height: 0;
}

pre {
	margin: 1.5em 0;
	white-space: pre;
}

code:not([class*="language-"]) {
	padding: 2px 4px;
	font-size: 90%;
	color: #b69eeb;
	background-color: #4e2c8c;
	border-radius: 4px;
}

code[class*="language-"], 
pre[class*="language-"] {
	
	background-color: #202038;
	border-radius: var(--rounded-radius);
	font-size: var(--fs7);
	line-height: 0.8;
}

cite {
	font-style: italic;
}

button {
	color: inherit;
}

ul,
ol {
	margin-top: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dl {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 670px;

	& > * {
		padding-top: 0.5em;
	}
}

dt {
	width: 30%;
	font-weight: 700;
	text-align: left;

	& + dt {
		padding-right: 60%;

		& + dd {
			margin-top: -1.625em; /* own height including padding */
			padding-left: calc(30% + 1em);
		}
	}
}

dd {
	width: 60%;
	padding-left: 1em;
	margin-left: 0px;

	& + dd {
		width: 100%;
		padding-left: calc(30% + 1em);
	}
}

table {
	margin-bottom: var(--spacer);
	width: 100%;
	border-collapse: collapse;
}

th {
	font-weight: 700;
}

th,
td,
caption {
	padding: 4px 10px 4px 5px;
}

tfoot {
	font-style: italic;
}

/* stylelint-disable */
img {
	display: block;
	height: auto;
	max-width: 100%;
}
/* stylelint-enable */

/* Extra wide images within figure tags don't overflow the content area. */
figure {
	margin: 0;
}

a > *,
button > *,
.button > * {
	pointer-events: none;
}

section,
nav {
	display: block;
}