
/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
	color: var(--color-link);
	text-decoration: none;
}

a:visited {
	color: var(--color-link-visited);
}

a:hover,
a:focus,
a:active {
	color: var(--color-link-active);
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}
